/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.gallery {
  display: flex;
    flex-wrap: wrap;
    gap: 24px; 
    list-style: none;
    margin: 0;
    padding: 0;
}

.gallery-item {
  flex: calc(33.333% - 24px); 
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-link {
  display: block;
  text-decoration: none;
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.back-link {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #007bff;
  
  
}

.back-link:hover {
  text-decoration: underline;
}

.feedback-form {
  width: 300px;
  margin: 0 auto;
}
main:has(.back-link) {
  text-align: left;
}

.feedback-form label {
  display: block;
  margin-bottom: 10px;
  margin-top: 24px;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
}

.feedback-form button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.feedback-form button[type="submit"] {
  background-color: #4E75FF;
  border: none;
  font-size: 16px;
  border-radius: 8px;

font-weight: 500;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
padding: 8px 16px;
width: 95px;
height: 40px;
  
}

.feedback-form button[type="submit"]:hover {
  background-color:  #6c8cff;

}
